<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
    <add key="xUnit Prerelease" value="https://www.myget.org/F/xunit/" />
  </packageSources>
  <activePackageSource>
    <add key="xUnit Prerelease" value="https://www.myget.org/F/xunit/" />
  </activePackageSource>
</configuration>